
body {
    background-color: #862323;
}

.btn-custom {

    background-color: #C42626;
    border-color: #333333;
}

.btn:hover {
    background-color: #792e2e;
    border-color: #3d3d3d;
}

  
  /* .window-header {
    background-color: #2c2c2c;
    border-radius: 6px;
    margin-top: 20px;

  } */
  
  .header-bar {
    width: 100px;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
  }
  
  .header-buttons .btn {
    width: 25px;
    height: 20px;
    background-color: #cc0000;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .pokedex-body {
    margin-top: 20px;
    background-color: #5c2c2c;
    border-radius: 20px;
  
  }
  
  .image-body {
    margin-top: 20px;
    background-color: #5c2c2c;
    border-radius: 20px;
  
  }
  
  .screen {
    background-color: #cc0000;
    border-radius: 20px;
    box-shadow: 5px 5px #2b1f1f;
    max-width: 80%;
    min-height: 60%;
  }
  
  .screen-title {
    color: white;
    font-size: 4rem;
    border-radius: 15px;
    text-shadow: 2px 2px #222;
  }
  
  .add-button {
    background-color: #cc0000;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 50px;
    margin-top: 100px;
  }

  
  .bottom-bar {
    width: 80%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
  }
  
  .custom-underline {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.2rem;
}

@media (max-width: 768px) {
  .custom-underline {
    width: 70%; /* en pantallas chicas la línea es más ancha */
  }
}

@media (max-width: 480px) {
  .custom-underline {
    width: 90%; /* en móviles, casi el ancho completo */
  }
}


