/* Variables */
:root {
    --red: rgb(209, 60, 60);
    --silver: rgb(236, 236, 236);
    --coal: rgb(65, 65, 65);
    --outline: rgb(10, 10, 10);
    --screen-hue: #83A867;
}


/* Contenedor de pantallas */
body.bg-white {
    background-color: var(--silver) !important;
    display: block;
    width: 100vw !important;
    height: 100vh;
    overflow-x: hidden;
}

/* Bandas laterales externas */
.page-external{
    width: 1000px;
}

/* Decoraciones internas */
.page-side {
    background-color: var(--red);
    height: 10vh;
}

/* Decoraciones orizontales de dentro (aun no funciona bien)*/
.page-internal{
    background-color: var(--silver);
    height: 5vh;
}

/* Contenedor de pantallas y decoraciones */
.screen-container{
    margin: 0px;
    padding: 0px;
}

/* DS */
.DS-console {
    background-color: var(--silver);
    margin: 0px;
    padding: 0px;
}

/* Decoración*/
body span.DS-effect {
    background-color: aqua;
    width: 100px;
    height: 60vh;
    display: block;
}


/* Pantallas */
body section.screen {
    background-color: var(--screen-hue);
    border: 8px solid var(--outline);
    height: 30vh;
}

